<div class="wrapper">
  <input
    type="text"
    [placeholder]="placeholder"
    class="form-control"
    [(ngModel)]="filter"
    (input)="inputChange()"
    (click)="inputChange()"
  />
  <ng-container *ngIf="filteredList$ | async as filteredList">
    <div class="searchable" *ngIf="focus">
      <ng-container *ngIf="filteredList.length">
        <div class="search-item" *ngFor="let item of filteredList; trackBy: trackBy" (click)="selectItem(item)">
          <span [innerHTML]="item.html"></span>
        </div>
      </ng-container>
      <p *ngIf="!filteredList.length">No results</p>
    </div>
  </ng-container>
</div>
