<div class="well">
  <h2>Enter country and a zipcode:</h2>
  <app-search [list]="countryList" placeholder="Country" (search)="country = $event"></app-search>
  <br />
  <input type="text" [(ngModel)]="zipcode" placeholder="Zipcode" class="form-control" />
  <br />
  <app-submit-button [submitable]="addLocation()">
    <span submit> Add location </span>
    <span loading> Adding... </span>
    <span done>
      <i class="glyphicon glyphicon-ok-sign"></i>
      Done
    </span>
  </app-submit-button>
</div>
